fastapi
uvicorn[standard]
pydantic
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-qdrant
langchain-ollama

qdrant-client
sentence-transformers
pypdf

pytest
httpx